<div class="navibar">
  <nav>
        <ul>
            <li>
                <a routerLink="/home">HOME</a>
                <a routerLink="/about" class="active">ABOUT</a>
                <a routerLink="/contact">CONTACT</a>
            </li>
        </ul>
    </nav>
</div>

<div class="showcase">
  <fieldset>
      <legend>About Application</legend>
      <p>
          CIT Test Data Management System(TDMS) is developed by SAAS CIT Team to centralize the test data available with all testers,<br> so that team members can get test data with easy few clicks
      </p>
  </fieldset>
</div>
