<div class="navibar">
  <nav>
        <ul>
            <li>
                <a routerLink="/home">HOME</a>
                <a routerLink="/about">ABOUT</a>
                <a routerLink="/contact" class="active">CONTACT</a>
            </li>
        </ul>
    </nav>
</div>

<div id="container">
  <fieldset>
      <legend>CIT Team</legend>
      <table id="members">
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Contact</th>
          </tr>
          <tr>
              <td>Sandeep Dabole</td>
              <td>sandeep.dabole@bt.com</td>
              <td>9989708364</td>
          </tr>
          <tr>
              <td>Sandhya Rani</td>
              <td>Team Member</td>
              <td>9032236989</td>
          </tr>
          <tr>
              <td>Manasa Krishnamurthy</td>
              <td>Team Member</td>
              <td>8122779489</td>
          </tr>
          <tr>
              <td>Kaushik Gosh</td>
              <td>Team Member</td>
              <td>7501701808</td>
          </tr>
          <tr>
              <td>Swathi Vanapalli</td>
              <td>Team Member</td>
              <td>9010464839</td>
          </tr>
          <tr>
              <td>Maneesha Tumkuri</td>
              <td>Team Member</td>
              <td>8885661264</td>
          </tr>
          <tr>
              <td>Jayasri Prasadam</td>
              <td>Team Member</td>
              <td>7416397789</td>
          </tr>
          <tr>
              <td>Meghana</td>
              <td>Team Member</td>
              <td>8977174746</td>
          </tr>
          <tr>
              <td>Girija Kandapu</td>
              <td>Team Member</td>
              <td>8142521544</td>
          </tr>
          <tr>
              <td>Snnehaw kuruganti </td>
              <td>Team Member</td>
              <td>9440307933</td>
          </tr>
          <tr>
              <td>SaiKishore Potpally</td>
              <td>Team Member</td>
              <td>9000406399</td>
          </tr>
          <tr>
              <td>Prabhat Yadav</td>
              <td>Team Member</td>
              <td>8840400484</td>
          </tr>
          <tr>
              <td>Nirmal Parida</td>
              <td>nirmal.parida@bt.com</td>
              <td>9949499908</td>
          </tr>
      </table>
  </fieldset>
</div>